*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    height: 40px;
    width: 100%;
    background-color: rgba(82, 65, 65, 0.233);
color: rgb(255, 255, 255);
text-align: center;
padding-top: 7px;

}
a{
    text-decoration: none;
    color: blue;
}
header{
    height: 50px;
    width: 100%;
    color: red;
    display: flex;
justify-content: space-evenly;
align-items: center;

}
.search {
    font-size: 38px;
    color: blue;
    font-weight: bold;
}
.nav a{
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    
}input{
    border: none;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(194, 184, 184, 0.233);
    

}.fa-search{
    color: black;
    font-size: 18px;
    margin-right: 30px;
}.btn{
    position: relative;
    border: none;
    background: none;

}
/* yaha tak header or nav bar h */




/* main page */

.main1{
    width: 100%;
    height: 85vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.logo{
    font-size: 122px;
    color: blue;
}
.logoname{
    font-size: 42px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.logopara{
    padding-top: 18px;
    font-size: 22px;
    color: rgb(48, 45, 45);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}
.btn1{
    border: 2px solid blue;
    width: 14%;
    height: 60px;
    border-radius: 50px;
    background-color: blue;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.btn2{
    border: 2px solid rgb(156, 156, 156);
    width: 14%;
    height: 60px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}
.button{
    /* border: 2px solid red; */
    width: 100%;
    height: 70px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
}




/* main page */

/* page2 */
.page2{
    width: 100%;
    height: 150vh;
    background-color: rgba(189, 184, 184, 0.288);
    
}
.page2heading{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 30px;
}
.page2lorem{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    width: 80%;
    margin-left: 10%;
}
.page2lorem2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 60px;
    width: 80%;
    margin-left: 10%;
}
.videopic{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* border: 2px solid red; */
    height: 340px;
    width: 100%;
    padding: 10px;
    gap: 10px;
}
.video2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* border: 2px solid red; */
    height: 340px;
    width: 100%;
    padding: 10px;
    gap: 10px;
}



/* page2 */


/* page3 */
.page3{
    width: 100%;
    height: 150vh;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid red; */
}
/* page3 */
/* page4 */


.page4{
    /* border: 2px solid red; */
    height: 150vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.loremknichewala{
 width: 20%;
 height: 40px;
 border-radius: 20px;
 font-size: 17px;
 font-weight: bold;
 text-align: center;
 margin-top:30px ;
 margin-left:40% ;
}.page5{
    /* border: 2px solid red; */
    height: 150vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.page6{
    /* border: 2px solid red; */
    height: 150vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
}.page6main{
   
    width: 100%;
    height: 120vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;

}.p6left{
    width: 40%;
    height: 400px;
        margin-top: 90px;
    /* border: 2px solid red; */
gap: 20px;
}
.p6right{
    width: 40%;
    height: 500px;
    padding-top: 70px;
    /* border: 2px solid red; */
    margin-top: 100px;
gap: 20px;
}.p6h1{
    font-size: 4rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;

}.p6h1{
    font-size: 4rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;

}
.p6para2{
    padding-left: 10px;
    padding-top: 40px; 
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 72, 72);

}
.p6para{
    padding-left: 10px;
    padding-top: 40px; 
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 72, 72);

}

.mainon1{
    /* border: 2px solid red; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.mainon2{
    /* border: 2px solid red; */
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.div1,.div2{
    width: 240px;
    height: 180px;
    border: 2px solid rgb(209, 208, 208);
    border-radius: 20px;
}h1{
    padding-left: 10px;
    padding-top: 20px;
}
.date{
    padding-left: 10px;
    padding-top: 50px;
    font-weight: bolder;
}.loremknichewal{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top:60px ;
    margin-left:2% ;
   }
.btnr{
   background: none; 
   border: none;
   font-size: 15px;
   padding-left: 35px;
   font-weight: bold;
   padding-bottom: 35px;
}.page7{
    /* border: 2px solid red; */
    height: 150vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.page7main{
    /* border: 2px solid red; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.pic{
   
    width: 24%;
    height: 250px;
    padding: 10px;
   
}
.pic img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.pic:hover{
    background-color: blue;
    
}
.last{
    width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;

}
.fotter{
    width: 16%;
    height: 300px;
    /* border: 2px solid black; */
}
.b{
font-size: 15px;
font-weight: bold;

font-family: Verdana, Geneva, Tahoma, sans-serif;}
.c{
padding-top: 10px;
font-weight: bold;
}
.fa-meta{
    color: blue;
}
.main23{
    margin-top: 50px;
    width: 100%;
    height: 125vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
@media(max-width:1115px){
    .nav{
        display: none;
    }
}